<div class="main-content">
  <div class="main-content-inner">
    <div class="page-content">

      <div class="page-header">
        <h1>Categoria</h1>
        <a routerLink="/categories/0">
          <button type="button" name="button" class="btn btn-info btn-lg pull-right">
            <i class="fa fa-plus-square-o"></i> Nova Categoria
          </button>
        </a>
      </div>
      <div *ngIf="message_success" class="alert alert-success mt-3 mb-0">{{message_success}}</div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="clearfix">
            <div class="pull-right tableTools-container">
              <div class="dt-buttons btn-overlap btn-group">
              </div>
            </div>
          </div>
          <div class="table-header">
            Categorias Cadastradas
          </div>
          <br>
          <table #dataTable class="display datatable" style="width:100%">
            <thead>
              <tr>
                <th>ID:</th>
                <th>Nome:</th>
                <th>Data/Cadastro:</th>
                <th>#</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
